
@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: CursedTimer;
}

/* Body */
body {
margin: 0;
}

/* Main */
.main {
display: flex;
justify-content: space-evenly;
text-align: center;
font-size: x-large;
background-color: #1b244a;
color: #fff;
}

/* Home and Guest Score */
#home-score, #guest-score {
font-family: cursedtimer;
background-color: #090001;
color: #f94f6d;
border: 3px solid black;
border-radius: 4px;
text-align: center;
padding: 25px 30px;
font-size: 60px;
}

/* Home and Guest Buttons */
button {
background: #1b244a;
border-color: #9aabd8;
border-radius: 4px;
border: solid;
color: #9aabd8;
padding: 10px;
margin-bottom: 70px;
}
